<div class="wrapper">
  <div class="title-text">
    <% if current_account.profiles.count > 0 %>
      <h1>Welcome back!</h1>
      <h2>Here is your team! ⭐️</h2>
    <% else %>
      <h1>Wolcome to HomeCup!</h1>
       <h2>Please add your your team members! ⭐️</h2>
    <% end %>

  </div>

<div class="profile-pictures">
      <% @profiles.each do |profile| %>
      <%= link_to profile_path(profile) do %>
        <div class="profile-wrapper">
          <div class="profile-avatar">
            <%= cl_image_tag profile.picture.key, height: 120, width: 120, crop: :fill, class: "prof-img" %>
          </div>
          <div class="profile-name">
            <%= profile.name %>
          </div>
        </div>
        <% end %>
      <% end %>
</div>
<div class="add-btn-wrapper">
  <%= link_to "Add a team member!", new_profile_path, class: "add-btn" %>
</div>
