<div class="progress-page">
  <div class="header">
    <h1>Team's progress 🚀</h1>
  </div>
  <% @profiles.excluding(@profile).each do |profile| %>
    <%= link_to new_profile_chat_path(profile) do %>
      <div class="progress-box">
        <%= cl_image_tag profile.picture.key, height: 100, width: 100, crop: :fill, class: "big-avatar" %>
        <div class="container-progress total-p-page">
          <div class="circular-progress">
            <div class="value value-container"><%= profile.progress %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
