// Define variables for your color scheme

// Home-cup-colors example:
$dark-orange: #FD703F;
$peach: #F27877;
$peach: #f277777f;
$green-blue: #4EB9B3;
$dark-blue: #27357E;
$yelloww: #FFA963;
$white: #FFFFFF;
$black: #000000;
$light-gray: rgb(244, 244, 244);
$gray-blue: #5B638D;

$gray: grey;
$blue: blue;
$green: green;
$yellow: yellow;
$red: red;
$orange: orange;
