// Define variables for your color scheme

// Home-cup-colors example:
$dark-orange: #FD703F;
$peach: #F27877;
$green-blue: #4EB9B3;
$dark-blue: #27357E;
$yellow: #FFA963;
$white: #FFFFFF;
$black: #000000;
