// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Home-cup-colors example:
$dark-orange: #FD703F;
$peach: #F27877;
$green-blue: #4EB9B3;
$dark-blue: #27357E;
$yellow: #FFA963;
$white: #FFFFFF;
$black: #000000;
