<h1 class="bags-text">Hola Bags!</h1>

<div class="bags-wrapper">
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #F27877"></i>
     <p style="color: #F27877">School</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #4EB9B3"></i>
    <p  style="color: #4EB9B3">Work</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #27357E"></i>
    <p style="color: #27357E">Tennis</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #FFA963"></i>
    <p style="color: #FFA963">Swim</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #FD703F"></i>
    <p style="color: #FD703F">Weekend</p>
  </div>
</div>
