.meal-card-dash {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.meal-card-dash > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.meal-card-dash p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.meal-card-dash .meal-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.progressoverview {
  margin: 5px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.306);
  border-radius: 10px;

  h2 {
    margin-bottom: 10px;
  }

}

.progresses {
  display: flex;
  justify-content: space-around;
}

.personal-progress {
  margin-bottom: 10px;
}

.total-progress {
  margin-bottom: 10px;
}

.meals {
  margin: 5px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.306);
  border-radius: 10px;
}

.packing-list {
  margin: 5px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.306);
  border-radius: 10px;
  display: flex;
  justify-content: center;

  i {
    font-size: 25px;
    color: $peach;
  }
}

.wrapper h1 {
  font-weight: bold;
}
