.wrapper h1 {
  margin-bottom: 5px;
}

// MEALS
.meal-card-dash {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 250px;
}

.meal-card-dash .img-p {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

// .img-p {
//   background-image: cover;
//   background-repeat: no-repeat;
//   width: 400px;
// }

// .meal-card-dash p {
//   opacity: .7;
//   margin: 0;
// }

.meal-card-dash .meal-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.name-meal {
  position: absolute;
  left: 18px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.694);
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 16px;
}

.meals {
  position: relative;
  margin: 5px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.306);
  border-radius: 10px;

  h2 {
    margin-bottom: 5px;
  }
}


// Progress

.progressoverview {
  margin: 5px;
  padding: 20px;
  background-color: rgba(225, 225, 225, 0.306);
  border-radius: 10px;
  position: relative;
  h2 {
    margin-bottom: 10px;
  }

}

.progresses {
  display: flex;
  justify-content: space-around;
}

.icon-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-multi-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-progress {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.total-progress {
  margin-bottom: 10px;
}

.packing-list {
  margin: 5px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.306);
  border-radius: 10px;
  display: flex;
  justify-content: center;

  h2 {
    margin-bottom: 5px;
  }

  i {
    font-size: 25px;
    color: $peach;
  }
}

.add-task-btn {
  color: $yelloww;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 24px;
}
