.bags {
  margin-top: 10px;
}

.bags a {
  color: black;
  text-align: center;
  margin-top: 10px;
}

.guide-lines a {
  text-decoration: none;
}

.active {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.del-items {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bags-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.5);
}

.bags-wrapper i {
  margin: 15px;
  transition: all 0.3s ease-in-out;
}

.bags-wrapper i:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.bags-text {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}

.p-nobag {
  color: $dark-blue;
  margin-top: 10px;
}

.add-bags {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
