.carousel-inner {
  box-sizing: border-box;
  height: 500px;
}

.btndiv {
  padding-bottom: 30px;
}

.title-text {
  margin-top: 44px;

}

.new-profile {
  h1 {
    margin-top: 75px;
  }

  .create-profile-form{
    margin-top: 44px;
  }
}
