.overview-tasks {
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .check-box-buton {
    background-color: transparent;
  }
}

.overview-tasks i {
  background-color: transparent;
  color: $dark_blue;
}

.header-profile {
  display: flex;
  justify-content: space-between;

  .text-in-header{
    padding-left: 50px;
    padding-top: 35px;
    text-align: center;
  }
}

.task-row{
  display: flex;
  justify-content: space-between;
}


.task-text{
  h6{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
  }
  p{
    margin: 0;
    font-size: 16px;
  }
}
