.task-templates-page{
  margin-top: 24px;
  ul {
    padding-right: 10px;
    padding-left: 0;
  }

  h3 {
    padding-bottom: 16px;
  }
  .task-row{
    margin-bottom: 15px;
  }
}

.button-overview-task-template{
  font-size: 18px;
  font-weight: bold;
  color: $dark-blue;
}

.overview-of-tasks-button-div{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

//NEW
.new-TT {
  margin-top: 44px;

  h1 {
    margin-bottom: 5px;
  }

  .dash-headers {
    margin: 14px;
  }

}

#weekday{
  font-size: 14px;
}
