.progress-page {
  margin-top: 30px;

  .header {
    margin-bottom: 30px;
  }
}

.progress-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #d0d0d085;
  margin-top: 10px;
  border-radius: 10px;
}
