<div class="fixed-bottom">
    <div class="navbar-wrapper">
      <ul class="u-list">
        <%= link_to profile_path(session[:current_profile_id]) do %>
          <li><i class="fa fa-home fa-2x" aria-hidden="true"></i></li>
        <% end %>
            <%= link_to profile_profile_tasks_path(session[:current_profile_id]) do %>
          <li><i class="fa-solid fa-square-check fa-2x" aria-hidden="true"></i></li>
        <% end %>
            <%= link_to profile_meals_path(session[:current_profile_id]) do %>
          <li><i class="fa-solid fa-burger fa-2x" aria-hidden="true"></i></li>
        <% end %>
            <%= link_to profile_packings_path(session[:current_profile_id]) do %>
          <li><i class="fa-solid fa-bag-shopping fa-2x" aria-hidden="true"></i></li>
        <% end %>
      </ul>
    </div>
  </div>
