<div class="navbar-wrapper">
  <ul class="u-list">
    <li><a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa-solid fa-square-check fa-2x"></i></i></a></li>
    <li><a href="#"><i class="fa-solid fa-burger fa-2x"></i></a></li>
    <li><a href="#"><i class="fa-solid fa-bag-shopping fa-2x"></i></a></li>
  </ul>
</div>
