 <h2>Your Messages âœ‰ï¸</h2>


<% if @chats.where(receiver: @profile).any? %>
  <% @chats.where(receiver: @profile).each do |chat| %>
  <div class="message-board">
    <p><%= chat.sender.name %></p>
    <p><%= chat.message %></p>
    <%= button_to profile_chat_path(chat.receiver, chat), remote: true, method: :patch, class: "message-read" do %>
      <% if chat.done? %>
          <i class="fa-regular fa-circle-check"></i>
        <% else %>
          <i class="fa-regular fa-circle"></i>
        <% end %>
    <% end %>
  <% end %>
  </div>
<% else %>
  <p>You have no messages</p>
<% end %>
