<h1>Chats#new</h1>
<p>Find me in app/views/chats/new.html.erb</p>

<div class = "form">
  <%= simple_form_for [@profile, @chat] do |f| %>
    <%= f.input :message %>
    <%= f.input :receiver_id, collection: current_account.profiles %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
