<% @disable_log_out = true %>
<div class="header-progress-p-p">
  <h2> Send chat to <%= @profile.name %> ✉️ </h2>
</div>
<div class = "form">
  <%= simple_form_for [@profile, @chat] do |f| %>
    <%= f.input :message %>
    <div class="form-actions">
      <%= f.button :submit, "Send message!", class: "btn btn-yellow-small-sq" %>
    </div>
  <% end %>
</div>
