<% @disable_log_out = true %>

<div class="new-TT">
  <div class = "dash-headers">
    <h1 class="task-temp-text">Team's tasks</h1>
    <h6> Add new tasks for your team </h6>
  </div>

  <%= render "form", task_template: @task_template %>

  <div class="overview-of-tasks-button-div">
    <%= link_to "See all household tasks", task_templates_path, class:"button-overview-task-template"  %>
  </div>
</div>
