<h2>Meal Options</h2>

<% if @profile.admin? %>
  <%= link_to "Search new meals", search_profile_meals_path %>
<% end %>

<div class="recipe-list" data-controller="meal-cards-list">
  <% @meals.each do |meal| %>
      <div class="clickable">
        <div class="meal-cards">
          <%= image_tag(meal.picture_url, class:"img") %>
        </div>
        <div class="meal-card-info">
          <div>
            <p><%= meal.name %><p>
          </div>
        </div>
        <div class="like-link">
          <%= render 'meals/like_link', meal: meal %>
        </div>
      </div>
  <% end %>
</div>
