<h2 class="meals-text">All meals:</h2>
  <ul class="recipe-list">
    <% @meals.each do |meal| %>
      <div>
        <div>
            <%= image_tag(meal.picture_url, class:"img") %>
        </div>
        <p><%= meal.name %></p>
      </div>
    <% end %>
  </ul>
