<h2 class="meals-text">Meal Options</h2>

<div class="container text-center card-wrapper">
   <% @meals.each do |meal| %>
      <div class="card" style="width: 10rem;">
      <img src="<%= meal.picture_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><%= meal.name %></p>
         <div class="like-link">
          <%= render 'meals/like_link', meal: meal %>
        </div>
      </div>
    </div>
  <% end %>
</div>
