.btns {
    margin-top: 100px;
    margin-left: 50px;
}

// ORANGE BUTTON
.btn-orange-1 {
   padding: 30px 40px;
   background-color: $dark-orange;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   box-shadow: 0px 0px 5px rgba(231, 143, 27, 0.3);
}
.btn-orange-2 {
   padding: 30px 40px;
   background-color: $dark-orange;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 30px;
}
.btn-orange-3 {
   padding: 30px 40px;
   background-color: $dark-orange;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50px;
}
.btn-orange-4 {
    padding: 30px 40px;
    background-color: $dark-orange;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-orange-5 {
   padding: 50px 25px;
   background-color: $dark-orange;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50%;
}
.btn-orange-6 {
   padding: 20px 10px;
   background-color: $dark-orange;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 3px;
}

// BTN-GREEN-BLUE
.btn-gb {
   margin-top: 100px;
}
.btn-gb-1 {
   padding: 30px 40px;
   background-color: $green-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   box-shadow: 0px 0px 5px rgba(231, 143, 27, 0.3);
}
.btn-gb-2 {
   padding: 30px 40px;
   background-color: $green-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 30px;
}
.btn-gb-3 {
   padding: 30px 40px;
   background-color: $green-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50px;
}
.btn-gb-4 {
    padding: 30px 40px;
    background-color: $green-blue;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-gb-5 {
   padding: 50px 25px;
   background-color: $green-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50%;
}
.btn-gb-6 {
   padding: 20px 5px;
   background-color: $green-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 3px;
}

// YELLOW BUTTON
.btn-yellow-1 {
   padding: 30px 40px;
   background-color: $yellow;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   box-shadow: 0px 0px 5px rgba(231, 143, 27, 0.3);
}
.btn-yellow-2 {
   padding: 30px 40px;
   background-color: $yellow;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 30px;
}
.btn-yellow-3 {
   padding: 30px 40px;
   background-color: $yellow;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50px;
}
.btn-yellow-4 {
    padding: 30px 40px;
    background-color: $yellow;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-yellow-5 {
   padding: 50px 25px;
   background-color: $yellow;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50%;
}
.btn-yellow-6 {
   padding: 20px 60px;
   border: solid 4px $yellow;
   color: $yellow;
   text-decoration: none;
   font-weight: bold;
}

// PEACH BUTTON
.btn-peach-1 {
   padding: 30px 40px;
   background-color: $peach;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   box-shadow: 0px 0px 5px rgba(231, 143, 27, 0.3);
}
.btn-peach-2 {
   padding: 30px 40px;
   background-color: $peach;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 30px;
}
.btn-peach-3 {
   padding: 30px 40px;
   background-color: $peach;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50px;
}
.btn-peach-4 {
    padding: 30px 40px;
    background-color: $peach;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-peach-5 {
   padding: 50px 25px;
   background-color: $peach;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50%;
}
.btn-peach-6 {
   padding: 15px 80px;
   border: solid 4px $peach;
   color: $peach;
   text-decoration: none;
   font-weight: bold;
}

// DARK BLUE BUTTON
.btn-db-1 {
   padding: 30px 40px;
   background-color: $dark-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   box-shadow: 0px 0px 5px rgba(231, 143, 27, 0.3);
}
.btn-db-2 {
   padding: 30px 40px;
   background-color: $dark-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 30px;
}
.btn-db-3 {
   padding: 30px 40px;
   background-color: $dark-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50px;
}
.btn-db-4 {
    padding: 30px 40px;
    background-color: $dark-blue;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-db-5 {
   padding: 50px 25px;
   background-color: $dark-blue;
   color: $white;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50%;
}
.btn-db-6 {
   padding: 15px 80px;
   border: solid 4px $dark-blue;
   color: $dark-blue;
   text-decoration: none;
   font-weight: bold;
   border-radius: 50px;
}
