.img {
    width: 100px;
    height: 100px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.account-page {
  background-image: url("blob-1.png");
  background-repeat: no-repeat;
}

.blob-2 {
  background-image: url("blob-2.png");
}

.account-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
}
