
body {
  background-image: url("transparent-blob.png");
}

body.devise-sessions, body.devise-registrations {
  background-image: url("transparent-blob-2.png");
}

body.meals {
  background-image: url("meal-blob.png");
}
body.packings {
  background-image: url("packings-blob.png");
}

body.profile_tasks {
  background-image: url("dashboard-profile-blob.png");
}

body.profiles {
  background-image: url("profile-blob.png");
}

body.task_templates {
  background-image: url("task-form-blob.png");
}

.img {
  width: 100px;
  height: 100px;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.meal-cards {
  width: 200px;
  border-radius: 10px;

  .img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .meal-card-info {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}

.account-page {

}

.account-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -100px;
}

.account-header {
  text-align: center;
  margin-top: 100px;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}

// FORGOT PASSWORD PAGE
.forgot-pass {
  display: flex;
  justify-content: center;
  color: $dark-blue;
  text-decoration: none;
  margin-top: 100px;
}

.forgot-text {
  text-align: center;
  margin-top: 200px;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}

// LOGIN PAGE
.login-wrapper {
  margin-top: 100px;
  width: 100%;
  margin: 0 auto;
}

.login-text {
  text-align: center;
  margin-top: 120px;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}

.form-actions {
  // display: flex;
  text-align: center;
  margin: auto;
}

// SIGNUP PAGE
.signup-wrapper {
  margin-top: 100px;
  width: 100%;
  margin: 0 auto;
}

.signup-text {
  text-align: center;
  margin-top: 70px;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}
.meals-text {
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}

.profile-pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-avatar {
  margin: 20px;
  display: flex;
  border: 5px solid $dark-blue;
  border-radius: 50%;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// BAGS PAGE
.bags-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.5);
}

.bags-wrapper i {
  margin: 15px;
  transition: all 0.3s ease-in-out;
}

.bags-wrapper i:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.bags-text {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-blue;
}

//DELETE ITEMS
.del-items {
  width: 200px;
  height: 50px;
  background-color: $dark-blue;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 150px;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
}


// IMAGE PROFILE PAGE
.img-p {
  background-image: cover;
  background-repeat: no-repeat;
  width: 400px;
  margin-top: 20px;
  margin: 0 auto;
}

.prof-name {
   text-decoration: none;
}

.noodles-btn {
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
}

.value {
  text-decoration: none;
  border: node;
}

.b-text {
  text-decoration: none;
  font-size: 15px;
}

.meal-card-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 260px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.5);
  position: relative;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: $white;
}

.avatar-profile {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.create-profile-form {
  background-color: $dark-blue;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  margin-top: 100px;
  opacity: 0.7;
}

.submit-btn {
  background-color: $dark-blue;
  color: $white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
