h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $dark-blue;
}

h3, h2, h1, h4{
  text-align: center;
  margin-bottom: 25px;
}

h1 {
  font-weight: bold;
}

p {
  font-family: $body-font;
  color: $dark-blue;
}

ul {
  font-family: $body-font;
}
