h1 {
  font-family: $headers-font;
}

h2 {
  font-family: $headers-font;
}

h3 {
  font-family: $headers-font;
}

h4 {
  font-family: $headers-font;
}

h5 {
  font-family: $headers-font;
}

h6 {
  font-family: $headers-font;
}

p {
  font-family: $body-font;
}

ul {
  font-family: $body-font;
}
