.navbar-wrapper {
  width: 95%;
  height: 80px;
  background-color: $dark-blue;
  display: flex;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 30px;
  right: 0;
}

.u-list {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.u-list li {
  margin-right: 20px;
  list-style-type: none;
}
.u-list a {
  color: $white;
}
