.inputs {
    margin-top: 100px;
    margin-left: 50px;
}

// ORANGE INPUT
.input-orange-1 {
    background-color: $dark-orange;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.input-orange-2 {
    color: rgb(95, 95, 95);
    border: solid 3px $dark-orange;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.input-orange-3 {
    color: rgb(95, 95, 95);
    border: solid 3px $dark-orange;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.input-orange-4 {
    color: rgb(95, 95, 95);
    border: solid 3px $dark-orange;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.input-orange-5 {
    color: rgb(95, 95, 95);
    border: solid 3px $dark-orange;
    text-decoration: none;
    outline: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.input-orange-5 {
    border: solid 3px $dark-orange;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
