  <div class="account-header">
    <p> Welcome </p>
  </div>
  <div class="account-buttons">
    <%= link_to "Sign up",  new_account_registration_path, class: "btn-welcome" %>
    <%= link_to "Sign in", new_account_session_path, class: "btn-welcome" %>
  </div>
